body {
    background-color: rgba(35, 156, 43, 0.89);
    font: 400 1em/1.38 Vollkorn;
    color: rgb(205, 3, 3);
}

.text-dota {
    float: left;
    width: 60.2%;
    min-height: 58px;
    margin-left: 19.9%;
    font-size: 2.5em;
    line-height: 1.38;
    text-align: center;
    color: rgb(163, 10, 10);
}

._button {
    display: block;
    float: left;
    width: 15.3%;
    height: 44px;
    margin-top: 39px;
    border-radius: 3px;
    background-color: rgb(54, 39, 39);
    font-weight: 400;
    line-height: 1.38;
    text-align: center;
    color: rgb(205, 3, 3);
}

._button-1 {
    clear: both;
    margin-left: 9.9%;
}

._button-2 {
    margin-left: 17.3%;
}

._button-3 {
    margin-left: 14.8%;
}