
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <title>new hero</title>
  <link href="http://fonts.googleapis.com/css?family=Vollkorn:400,400" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="css/stylesheet.css">
  <link rel="stylesheet" href="css/new-grid.css">
  <link rel="stylesheet" href="css/new.css">


<p class="text-title"> Add a Hero</p>

<form action="/heroes" method="post">
  <input class="-name" name="name" placeholder="name:" type="text">
  <input class="-name" name="description" placeholder="description:" type="text">
  <select class="-name" name="hero_type">
    <option value="Carry">Carry</option>
    <option value="Support">Support</option>
    <option value="Mid">Mid</option>
    <option value="OffLane">Offlane</option>
  </select>
  <input class="-name" type="file" name="Image" >
  <input class="-name" type="submit" value="Create">
</form>
