
  <title>Create New Account</title>

<p> Create New Account</p>

<form action="/users" method="post">
  <input name="username" placeholder="username:" type="text">
  <input name="first_name" placeholder="first name:" type="text">
  <input name="last_name" placeholder="last name:" type="text">
  <input name="email" placeholder="email:" type="text">
  <input type="submit" value="Create Account">
</form>
